p
{
    margin: 0.5rem 0;
	font-size:0.7rem;
	line-height: 1.2rem;
    word-break: break-all;
}

.app-link
{
	font-size:0.7rem;
    line-height: 1.2rem;
    color: #0894ec;
    margin-right: 1rem;
}


